
.about{
    height: 400px;
    display: flex;
    margin-top: 80px;
    margin-bottom: 40px;
    .right{
        margin-left: 50px;
    }
    
    .left{
        background-image: url(../img/heart-03.png);
        width: 65%;
        height: 250px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        align-self: baseline;
    }
}