
$greyColor: #4a4a4a;
$purpleColor: #4f1a40;

header{
    height: 400px;
    background-image: url(../img/header1.png);
    background-color: $purpleColor;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .space{
        background-color: $greyColor; 
        height: 15%;
    }
    div{
        .logo{
            background-image: url(../img/heart-02.png);
            width: 100px;
            height: 100px;
            margin-top: 35px;
            background-size: contain;
            background-repeat: no-repeat; 
            background-position: center;
        }
    }
}
