
form{
    background-color: #ffff;
    border: black 1px solid;
    width: 90%;
    margin: 50px auto 0 auto;
    .close{
        width: 30px;
        height: 30px;
        float: right;
        cursor: pointer;
    }
}

label{
    padding-bottom: 10px;
    padding-top: 10px;
}

.formWrapper{
    
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    // padding-bottom: 50px;

}
.upperPart{
    display: flex;
    height: 300px;
    .logoImg{
        background-image: url(../img/heart-04.png);
        width: 250px;
        height: 250px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        align-self: baseline;
    }
    .right{
        padding-left: 30px;
        align-self: center;
    }
}

.form{
    display: flex;
    .right{
        display: flex;
        flex-direction: column;
        .telecharger{
            .boxT{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                text-align: center;
                border-radius: 5px;
                margin-top: 10px;
                margin-bottom: 10px;
                width: 400px;
                height: 150px;
                border: solid black 1px;
            }
            img{
                width: 30px;
                height: 30px;
                margin-bottom: 5px;
            }
        }
    }
    .left{
        margin-right: 40px;
        .prenom,
        .residence,
        .message{
            display: flex;
            flex-direction: column;
        }
        select{
            cursor: pointer;
            margin-bottom: 10px;
            padding: 5px;
        }
        textarea{
            background-color: white;
            resize: none;
            margin-top: 10px;
            padding-top: 20px;
            padding-left: 20px;
            border-radius: 5px;
            border: 1px solid black;
            transition: linear all 0.2s;
            &:hover,
            &:focus{
                transform: scale(1.05); 
            }
        }
        
    }
    .prenom,
    .residence,
    .message,
    .nom,
    .nomPersonne{
        display: flex;
        flex-direction: column;
    }
    input[type="text"]{
        background-color: white;
        width: 400px;
        padding: 5px;
        border-radius: 5px;
        border: black solid 1px;
        transition: linear all 0.2s;
        &:hover,
        &:focus{
            transform: scale(1.05); 
        }
    }
    button{
        width: 55%;
        margin-top: 10px;
    }
    .nom input[type="text"]{
        margin-bottom: 10px;
    }
    .personne input[type="text"]{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.popupModale {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 35px;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in-out;
    z-index: 100;
    &.isVisible {
      opacity: 1;
      pointer-events: auto;
    }
}