
@media (max-width: 1240px){
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 30px;
        width: 100%;
    }
    p{
        font-size: 14px;
    }
    .commentaire .commentBlock .upSection,
    .commentaire .commentBlock .lowerSection{
        display: inherit;
        margin-left: 20px;
        .writeLogo,
        .heartLogo{
            margin-left: 0px;
        }
    }
    .form .nom,
    .form .prenom,
    .form .residence,
    .form .message,
    .form .personne{
        input[type="text"]{
            width: 300px;
        }
    }
    .form .right .telecharger .boxT,
    .form .left select,
    .form .left textarea{
        width: 300px;
    }
    

}
@media (max-width: 940px){
    header{
        background-position: center;
        background-size: cover;
    }
    .about{
        display: block;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 150px;
        .left{
            width: auto;
            height: 180px;
            margin-bottom: 20px;
        }
        .right{
            margin-left: 0px;
        }
    }
    .commentaire{
        display: inherit;
        .image,
        .imageUnkown{
            width: 150px;
            height: 150px;
        }
        .commentBlock{
            text-align: center;
        }
    }
    .lastSection .overlay button{
        width: 50%;
    }
}

@media (max-width: 780px){
    .form{
        display: block;
        padding-left: 30px;
    }
    form{
        margin-top: 200px;
    }
}